.backbotton{
    color:black;
    /* background: rgba(159, 118, 216, 0.5); */
    background: #7741C3;
     font-size:60%;
     margin-top:10%;
     margin-bottom: 1%;
     margin-left: 30%;
     margin-right: 55%;
     max-width: 100%;
     padding-left: 1%;
     padding-right: 1%;
     padding-bottom: 0.5%;
     padding-top: 0.5%;
     font-weight: 30%;
     font-family: Arial;
    text-align: center;
} 

@media (max-width: 768px) {
    .backbotton {
        font-size: 50%;
        font-weight:50%; 
    }
}

@media (max-width: 480px) {
    .describe {
        font-size: 40%; 
        font-weight:60%;
    }
}


.container{
     margin: 0% 30% 20% 30%;
     background-color: white; 
     border-radius: 6;
     /* border:1px solid  rgba(159, 118, 216, 80); */
     border: 1px solid #7741C3;;
}

.Login{
color: #0A0A0A;
font-family: Arial;
font-size: 90%;
font-style: normal;
font-weight: 40%;
line-height:66.667%;
justify-self: center;
margin-top:2%;
}
.subtitle{
color: #717182;
text-align: center;
font-family: Arial;
font-size: 60%;
font-style: normal;
font-weight: 20%;
line-height: 150%;
padding-top:1%;
}
.Role{
display: flex;
justify-content: space-around;
color: #717182;
font-family: Arial;
font-size: 70%;
font-style: normal;
padding-left:2%;
padding-top: 2%;
padding-top: 0.5%;
padding-bottom: 0.5%;
margin-left:5%;
margin-right:5%;
margin-bottom:2%;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.00);
background: #F3F3F5;
width: 90%;
}
.Active{
    background: white;
    border-radius: 20px;
    width: 50%;
    color: black;
    margin-top: 0%;
}

.submit{
color:black;
font-family: Arial;
font-size: 70%;
font-style: normal;
padding-left:2%;
padding-top: 2%;
padding-bottom: 0.5%;
margin-left:5%;
margin-right:5%;
margin-bottom:2%;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.00);
/* background: rgba(159, 118, 216, 0.5); */
background: #7741C3;
width: 90%;
justify-items: center;
margin-top:2%;
}
