.container{
    display: flex;
    width: 95%;
    padding-right: 4%;
    font-size: 80%;
    color: blueviolet;
    
}

.matric{
display: flex;
flex: 1.2;
border-right:solid, 1px black;

}

.event{
display: flex;
flex: 2;
justify-self: center;

}

.hr{
    margin-right: 1%;
    color: rgb(0, 0, 0, 0.10); 
    margin-bottom: 1%;
    margin-top: 1%;
}
