.title{
color: blueviolet;
font-family: Arial;
font-size: 80%;
font-style: normal;
font-weight: 68%;
margin-top: 2%;
margin-bottom: 1%;

}

.inputsubtitle{
color: #717182;
font-family: Arial;
font-size: 70%;
font-style: normal;
padding-left:2%;
padding-top:0.5%;
padding-bottom: 0.5%;
margin-bottom:2%;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.00);
background: #F3F3F5;
height: 70%;
width: 90%;

}
.container{
    flex:1%;
    margin-left: 1%;
    margin-bottom: 5%;
    margin-left: 3%;
    /* margin-right: 7%; */
}
 


@media (max-width: 480px) {
    .title{
        font-size: 50%;
    }
    .inputsubtitle{
        font-size: 40%;
         height: 40%;
         width: 95%;
         padding: 1%;
         
    }

    .container{
    margin-left: 30%;
    }
}
