.title{
color:blueviolet;
font-family: Arial;
font-size: 80%;
font-style: normal;
font-weight: 68%;
margin-top: 2%;
margin-bottom: 1%;
}

.inputsubtitle{
color: #717182;
font-family: Arial;
font-size: 70%;
font-style: normal;
padding-top: 0.5%;
padding-bottom: 0.5%;
margin-bottom:1%;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.00);
background: #F3F3F5;
height: 70%;
width: 90%

}

.selected{
    border: none;
    outline:none;
    padding-right: 50%;
}

.selected2{
    border: none;
    outline:none;
    padding-right:50%;
}

.container{
    flex:1%;
    margin-left: 1%;
    margin-bottom: 5%;
   
}

@media (max-width: 480px) {
    .title{
        font-size: 50%;
    }

    .inputsubtitle{
        font-size: 40%;
        height: 40%;
         width: 115%;
    }


    .selected{
    padding-right: 25%;
}


.container{
    margin-right:0%;

}

}