.error {
  color: red;
  justify-self: center;
}
.success {
  color: green;
  justify-self: center;
}

.container {
  width: 100%;
  height: 100%;
  border-bottom: 2% solid rgba(0, 0, 0, 0.1);
  background: white;
  padding-top: 1%;
}
.Titleandlogoutcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  padding-right: 10%;
}

.logoutbox {
  display: flex;
  padding: 1% 1% 1% 1%;
  margin-left: 68%;
  margin-top: 1%;
  margin-right: 2%;
  gap: 8;
  color: #7741c3;
}

.logout {
  color: #7741c3;
  font-family: Arial;
  font-size: 70%;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 142.857%;
}

.title {
  color: #7741c3;
  font-family: Arial;
  font-size: 150%;
  font-weight: 40%;
  line-height: 150%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 0.05%;
}

.subtitle {
  margin-left: 1.5%;
  color: #7741c3;
  font-family: Arial;
  font-size: 80%;
  font-style: normal;
  font-weight: 20%;
  line-height: 140%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.buttonscontainer {
  display: flex;
  border-radius: 20px;
  background: #7741c3;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  font-size: 80%;
  color: white;
  font-family: Arial;
  font-style: normal;
  font-weight: 40%;
  line-height: 45%;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}

.Active {
  background-color: white;
  color: #7741c3;
  border-radius: 20;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 25%;
  height: 80%;
}

.box {
  margin-top: 2%;
  padding-top: 0.8%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 0.5%;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding-left: 2%;
}

.subbox {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 4%;
  background: white;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
}

.headercontainer {
  display: flex;
  margin-right: 2%;
  margin-left: 2%;
  padding-left: 1%;
  padding-top: 1%;
}

.trackname {
  white-space: nowrap;
}

.eventtitle {
  margin-right: 15%;
  color: #7741c3;
  padding-left: 1%;
  font-size: 90%;
}

.events {
  margin-right: 8%;
  color: #7741c3;
  padding-left: 5%;
  font-size: 90%;
}

.eventlocation {
  margin-right: 10%;
  color: black;
  padding-left: 5%;
  font-size: 80%;
}

.text {
  font-family: Arial;
  font-size: 80%;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #7741c3;
}

.list {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding-top: 1%;
  padding-left: 1%;
  /* color: #4A5565; */
  color: #7741c3;
}
.namelist {
  width: 100%;
}

.trackslist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80%;
  margin-right: 8.3%;
}

.action {
  display: flex;
  gap: 140px;
}

.deleteaction {
  flex-shrink: 0;
}

.eventname {
  width: 20%;
}
.date {
  margin-left: 3%;
  justify-self: center;
}

.register {
  margin-left: 10%;
  justify-self: center;
}

.statusOpen {
  margin-left: 13%;
  color: white;
  width: 10%;
  background: #7741c3;
  justify-self: center;
  border-radius: 10px;
  margin-bottom: 1%;
}

.statusClose {
  margin-left: 13%;
  width: 10%;
  background-color: red;
  justify-self: center;
  border-radius: 10px;
  margin-bottom: 1%;
}

.edit {
  margin-left: 5%;
  width: 10%;
  justify-self: center;
  border-radius: 10px;
  margin-bottom: 1%;
  justify-items: center;
}

.delete {
  margin-left: 5%;
  width: 10%;
  border-radius: 10px;
  margin-bottom: 1%;
  justify-items: center;
}

.hr {
  margin-right: 1%;
  color: rgb(0, 0, 0, 0.1);
}

.track {
  margin-left: 3%;
}

.modalbox {
  width: 40%;
  /* height:70%; */
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  align-items: flex-start;
  border-radius: 20px;
  padding-bottom: 0.1%;
  margin-bottom: 3%;
  position: absolute;
  top: 35%;
  border: solid rgba(0, 0, 0, 0.1);
}

.canclemodal {
  margin-left: 93%;
  color: black;
  margin-top: 1%;
}

.submit {
  margin-bottom: 5%;
  margin-top: 3%;
  display: flex;
  gap: 2%;
  margin-left: 70%;
  margin-right: 2%;
}

.canclebutton {
  background-color: white;
  color: black;
  padding: 0.5% 3% 0.5% 3%;
  margin-right: 1%;
  border: solid rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 35%;
  font-family: Arial;
  font-size: 70%;
}
.savebutton {
  padding: 0.5% 3% 0.5% 3%;
  background-color: #0a0a0a;
  color: white;
  border-radius: 10px;
  margin-left: 1%;
  font-family: Arial;
  font-size: 70%;
  font-style: normal;
}

.confirmdelete {
  justify-self: center;
  margin-top: 2%;
  border: 1px solid, rgba(0, 0, 0, 0.1);
  width: 35%;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  background: #7741c3;
}

.warning {
  justify-self: center;
  font-family: Arial, Helvetica, sans-serif;
}

.deletebutton {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 2%;
  padding-top: 1% 0, 1%, 0;
  background-color: white;
  color: #7741c3;
  width: 40%;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
.inputcontainer2 {
  width: 95%;
  margin-left: 0.5%;
  margin-top: 1%;
}

.eventimagetitle {
  color: #7741c3;
  font-family: Arial;
  font-size: 90%;
  font-style: normal;
  font-weight: 68%;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-left: 2%;
  margin-left: 2%;
}
.eventimagesubtitle {
  color: #717182;
  font-family: Arial;
  font-size: 70%;
  font-style: normal;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  margin-bottom: 2%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #f3f3f5;
  margin-left: 3%;
}

@media (max-width: 768px) {
  .buttonscontainer {
    font: size 70px;
  }
  .eventtitle {
    margin-right: 15%;
    padding-left: 1%;
    font-size: 70%;
  }

  .events {
    padding-left: 4%;
    font-size: 70%;
  }
  .eventlocation {
    color: #0a0a0a;
    padding-left: 4%;
    font-size: 80%;
  }
}

@media (max-width: 480px) {
  .buttonscontainer {
    font-size: 40%;
    width: 80%;
  }
  .eventtitle {
    margin-right: 15%;
    color: #0a0a0a;
    padding-left: 1%;
    font-size: 30%;
  }

  .events {
    margin-right: 4%;
    color: #0a0a0a;
    padding-left: 5%;
    font-size: 30%;
  }
  .eventlocation {
    margin-right: 13%;
    color: #0a0a0a;
    padding-left: 5%;
    font-size: 30%;
  }

  .box {
    width: 80%;
  }

  .eventname {
    width: 15%;
    font-size: 65%;
    line-height: 60%;
    margin-left: 1%;
  }
  .date {
    margin-left: 6%;
    font-size: 65%;
  }

  .register {
    margin-left: 7%;
    font-size: 65%;
  }

  .statusOpen {
    margin-left: 11%;
    font-size: 65%;
    width: 10%;
    justify-self: center;
    background: #7741c3;
  }

  .statusClose {
    margin-left: 11%;
    font-size: 65%;
    width: 10%;
    justify-self: center;
    background: red;
  }

  .edit {
    margin-left: 3.5%;
    width: 9%;
    font-size: 65%;
  }
  .delete {
    margin-left: 5%;
    width: 6%;
    font-size: 65%;
  }

  .track {
    margin-left: 1%;
    font-size: 65%;
  }
  .list {
    font-size: 60%;
  }

  .savebutton {
    font-size: 10%;
    margin-right: 2%;
    width: 60%;
  }
  .canclebutton {
    font-size: 10%;
    margin-right: 2%;
    padding: 1% 1% 1% 1%;
  }
  .submit {
    margin-left: 45%;
  }

  .trackslist {
    font-size: 70%;
    margin-right: 15%;
  }

  .action {
    gap: 29px;
  }
}

/* @media (minheight:700) {
    .modalbox{
        margin-top:-70%;
    }
} */
