.scannercontainer {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 3%;
  width: 30%;
  align-self: center;
  justify-self: center;
}

.text {
  color: #7741c3;
  text-align: center;
  font-family: Arial;
  font-size: 90%;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.textsubtitle {
  color: #4a5565;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.smallbox {
  justify-content: center;
  border-radius: 33554400px;
  background: #f3e8ff;
  align-items: center;
  width: 5%;
  height: 30%;
  padding: 1%;
  flex-shrink: 0;
  justify-self: center;
  margin-top: 2%;
}
.scannerframe {
  width: 70%;
  max-height: 70%;
  justify-self: center;
  background-color: #f3f3f3;
  margin-bottom: 2%;
  border-radius: 16px;
  padding: 1%;
}

.simulatescanner {
  background-color: #7741c3;
  width: 80%;
  justify-self: center;
  text-align: center;
  border-radius: 8px;
}

.simulate {
  color: #fff;
  font-family: Arial;
  font-size: 90%;
  font-style: normal;
  font-weight: 400;
}

.qrcodesubtitle {
  color: #7741c3;
  text-align: center;
  justify-self: center;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2%;
  line-height: 21px; /* 150% */
}

.scanner {
  width: 96%;
  height: 50%;
  justify-self: center;
  margin-bottom: 2%;
}

.failscan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* adjust as needed */
}
