.background {
  display: inline-flex;
  position: relative;
  padding: 0 5% 0 5%;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(119, 65, 195, 0.5) 0%,
      rgba(57, 31, 93, 0.5) 40.23%
    ),
    url("/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.availableevent {
  margin-top: -50;
  background: #f9fafb;
  position: relative;
  width: 55%;
  height: 50px;
  padding-top: 3;
  margin-bottom: 0;
  justify-self: center;
  justify-items: center;
}

.wellcomeContainer {
  display: flex;
  width: 528px;
  height: 292px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
}

.error {
  color: red;
  text-align: center;
  font-family: Arial;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 2%;
}

.sucess {
  color: green;
  text-align: center;
  font-family: Arial;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 2%;
}

.eventcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
  background-color: #f9fafb;
  width: 100%;
}
