.container{
/* background: #FFF;
position: relative; */
}
.background{
display: inline-flex;
position: relative;
/* overflow: hidden; */
padding: 0 5% 0 5%;
justify-content: flex-end;
align-items: center;
background: linear-gradient(180deg, rgba(119, 65, 195, 0.50) 0%, rgba(57, 31, 93, 0.50) 40.23%),url("/image.png");
backdrop-filter: blur(0px);
/* background:url("/image.png"); */
background-position: "center";
background-size: cover;
background-repeat: no-repeat;

}


.overlay{
  position: absolute;
  inset: 0;
   z-index:1;
   pointer-events: none;
   background-color: rgba(100, 65, 195, 0.19);
}

.availableevent{
  margin-top: -50;
  background: #F9FAFB;
  position: absolute;
  width:55%;
  height:50px;
  padding-top:3;
  margin-bottom: 0;
  justify-self: center;
  justify-items: center;
}
.eventcontainer{
justify-self: center;
display: flex;
flex-wrap: wrap;
justify-content:center;
justify-content: space-evenly;
justify-items:space-evenly;
margin-top: 0;
width: 55%;
height:50%;
background:white;
/* margin-top: 6px; */
margin-top: -1%;
}

.textheading{
color:blueviolet;
text-align: center;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 20px;
justify-content: center;
}
.subheading{
  color:#7741C3;
text-align: center;
font-family: Arial;
font-size: 65%;
font-style: normal;
font-weight: 200;
line-height: 24px; /* 150% */
}

.wellcomeContainer{
display: flex;
width: 528px;
height: 292px;
padding: 0 16px;
flex-direction: column;
align-items: center;
gap: 40px;
position: absolute;
}

.wellcome{
  text-align: center;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #FFF;
font-family: Arial;
font-size: 300%;
font-style: normal;
font-weight: 700;
line-height:90%; 
backdrop-filter: blur(0px);
position: absolute;
margin-right: 54%;
top:20%
}
.subwellcome{
justify-self: center;
color:white;
font-family: Arial;
font-size: 113%;
font-style: normal;
font-weight: 250;
line-height: 25px; 
/* margin-top: 10px; */
position: absolute;
margin-right: 55%;
margin-left: 12%;
display: flex;
flex-wrap: wrap;
}

.explore{
  position:absolute;
  margin-right: 65%;
  margin-bottom: -15%;
  background-color:#7741C3;
  width: 15%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  border-radius: 8px;
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
   .wellcome{
    font-size: 50%;
    line-height: 80%;
    margin-right: 65%;
    bottom: 20%;
   }
   .subwellcome{
    font-size: 35%;
    line-height: 70%;
    margin-right: 60%;
    margin-top: -5%;
   }
   .explore{
    font-size: 50%;
    margin-top: -7%;
   }
}
