.background {
  display: inline-flex;
  position: relative;
  /* overflow: hidden; */
  padding: 0 5% 0 5%;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(119, 65, 195, 0.5) 0%,
      rgba(57, 31, 93, 0.5) 40.23%
    ),
    url("/image.png");
  backdrop-filter: blur(0px);
  background-position: "center";
  background-size: cover;
  background-repeat: no-repeat;
}

.availableevent {
  margin-top: -50;
  background: #f9fafb;
  position: relative;
  width: 55%;
  height: 50px;
  padding-top: 3;
  margin-bottom: 0;
  justify-self: center;
  justify-items: center;
}
.eventcontainer {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  justify-items: space-evenly;
  margin-top: 0;
  width: 55%;
  height: 50%;
  background: white;
  /* margin-top: 6px; */
  margin-top: -1%;
}

.textheading {
  color: blueviolet;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  justify-content: center;
}
.subheading {
  color: #7741c3;
  text-align: center;
  font-family: Arial;
  font-size: 65%;
  font-style: normal;
  font-weight: 200;
  line-height: 24px; /* 150% */
}

.wellcomeContainer {
  display: flex;
  width: 528px;
  height: 292px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
}

.error {
  color: red;
  text-align: center;
  font-family: Arial;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 2%;
}
.sucess {
  color: green;
  text-align: center;
  font-family: Arial;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 2%;
}
