.container {
  width: 100%;
  height: 100%;
  border-bottom: 2% solid rgba(0, 0, 0, 0.1);
  background: white;
  padding-top: 1%;
}
.Titleandlogoutcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  padding-right: 10%;
}

.title {
  color: #7741c3;
  font-family: Arial;
  font-size: 150%;
  font-weight: 40%;
  line-height: 150%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 0.05%;
}
.subtitle {
  margin-left: 1.5%;
  color: #4a5565;
  font-family: Arial;
  font-size: 80%;
  font-style: normal;
  font-weight: 20%;
  line-height: 140%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.logout {
  color: #0a0a0a;
  font-family: Arial;
  font-size: 70%;
  font-style: normal;
  line-height: 142.857%;
}
