.button {
  color: white;
  font-size: 50%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  font-family: Arial;
  font-size: 60%;
  text-align: center;
  width: 95%;
  background-color: #7741c3;
}

