.general{
     font-family: Arial, Helvetica, sans-serif;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
}
.container{
width: 100%;
height: 100%;
border-bottom: 2% solid rgba(0, 0, 0, 0.10);
background:white;
padding-top: 1%;
}
.Titleandlogoutcontainer{
 display: flex;
 justify-content: space-between;
 margin-left: 2%;
 padding-right: 10%;
}

.title{
color: #0A0A0A;
font-family: Arial;
 font-size: 150%; 
font-weight: 40%;
line-height:  150%;
padding-left: 5%;
padding-top: 1%;
padding-bottom: 0.05%;
}

.logoutbox{
display: flex;
padding: 1% 1% 1% 1%;
margin-left: 68%;
margin-top: 1%;
margin-right: 2%;
gap: 8;

}

.logout{
color: #0A0A0A;
font-family: Arial;
font-size: 70%;
font-style: normal;
/* font-weight: 400; */
line-height:  142.857%;
}

.subtitle{
margin-left:1.5%;
color: #4A5565;
font-family: Arial;
font-size: 80%;
font-style: normal;
font-weight: 20%;
line-height: 140%;
padding-left: 5%;
padding-bottom: 2%;
}

.subtitle2{
color: #4A5565;
font-family: Arial;
font-size: 80%;
font-style: normal;
font-weight: 20%;
line-height: 140%;
}

.buttonscontainer{
display: flex;
border-radius:20px;
background: #7741C3;
justify-content: space-around;
margin-left: 8%;
margin-right: 8%;
margin-top: 2%;
font-size: 80%;
color:white;
font-family: Arial;
font-style: normal;
font-weight: 40%;
line-height: 45%;
padding-top: 0.1%;
padding-bottom: 0.1%;
}

.Active{
    background-color: white;
    color: black;
    border-radius: 20;
    padding-top: 1%;
    padding-bottom: 1%;
    width:25%;
    height: 80%;
  
}
.box{
  margin-top:2%;
  padding-top:0.8%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 0.5%;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background:white;
  padding-left: 2%;
}
 .scan{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
 }

 .scan1{
    padding-right:1%;
    border-radius: 8;
    background-color: #7741C3;
    color: white;
    margin-right: 2%;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-size:70%;
    font-weight:300;
    font-family: Arial;
    
}

.takeattendance{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    color:blueviolet
}

.headercontainer{
    display:flex;
    width:96%;
    align-items: center;

}

.button{
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius:10px;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-bottom: -1.5%;
    font-size: 90%;
    /* width:90%; */
    padding: 0.7%;
    box-sizing: border-box;
    color:white;
    background: #7741C3;
    display: flex;
    flex:4%
}

.download{
    padding:0.5%;
    margin-left: 1%;
    border:solid 1px rgba(0, 0, 0, 0.10);
    margin-bottom:-1.5%; 
    border-radius: 8;
    background: #7741C3;
}

.studentstat{
     background-color: #7741C3;
      margin-left: 0.3%;
      margin-right:4%;
      margin-top: 1%;
      padding: 2%;
      border-radius: 6;
      display:flex;
      flex: 1;
      font-size: 90%;
     font-family: Arial, Helvetica, sans-serif;
     gap: 3%;
     margin-bottom: 2%;
     color: white;
  
}

.info{

    border-right: solid 2px white;
    padding-right: 5%;
    margin-right: 3%;
}

.studentdata{
    border: solid 1px rgba(0, 0, 0, 0.10);
     margin-left: 0.3%;
     margin-bottom: 1%;
     margin-right:4%;
     border-radius: 10;
     padding-left: 2%;
     color: blueviolet;
}
.matric{
display: flex;
flex: 2;
/* border-right:solid, 1px black */
}

.event{
display: flex;
flex: 3

}



.subcontainer{
    display: flex;
    width:90% ;
    margin-bottom: 0.5%;
}

.hr{
    margin-right: 1%;
    color: rgb(0, 0, 0, 0.10); 
    margin-bottom: 1%;
    margin-top: 1%;
}



.confirmdelete{
    justify-self: center;
    margin-top: 2%;
    border: 1px solid, white;
    
    width: 35%;
    border-radius: 10px;
     position:absolute;
    top:55%;
    background: #7741C3;
   
  
}

.warning{
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.deletebutton{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 2%;
    padding-top: 1% 0, 1% ,0;
    background-color:white;
    color:#7741C3;
    width: 40%;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;  
}



@media (max-width: 480px) {
    .buttonscontainer {
        font-size: 40%; 
        width:80%;
    }
    .button{
        font-size: 30%;
        margin-bottom: -5%;
        padding: 1.5%;
        margin-left: 10%;
        padding: 0.6%;
        display: flex;
        flex:3%;
        
    }
    .studentstat{
         font-size: 40%;
    }

    
.download{
    margin-left: 2%;
    margin-bottom:-4.5%; 
    border-radius: 8;
    font-size: 40%;
}

.takeattendance{
    font-size: 70%
}

.studentdata{
    font-size: 50%;
}

.box{
    margin-right: 13%;

}
.scan1{

     font-size:40%;
}

}

