
.Header{
/* background: rgba(159, 118, 216, 0.5); */
background-color: #7741C3;
display: flex;
height: 60%;
}
/* .maincontainer{
   background: #F9FAFB;
    margin-top:10;
} */
    
.backbotton{
    color:white;
    /* background: rgba(159, 118, 216, 0.5); */
    background:#7741C3;;
     font-size:70%;
     margin-top:10%;
     margin-bottom: 1%;
     margin-left: 20%;
     margin-right: 55%;
     max-width: fit-content;
     padding-left: 1%;
     padding-right: 1%;
     padding-bottom: 0.5%;
     padding-top: 0.5%;
     font-weight: 15%;
     font-family: Arial;
    line-height: 90%;
    text-align: center;
} 

.subcontainer{
    padding:16px;
    background:white;
}

.title{
 color:#7741C3;
font-family: Arial;
font-size: 90%;
font-style: normal;
font-weight: 68%;
margin-top: 2%;
margin-bottom: 1%;
padding-left:2%;
margin-left: 2%;
}
.subtitle{
color: #717182;
font-family: Arial;
font-size: 70%;
font-style: normal;
padding-left:2%;
margin-bottom:1%;
background: #F3F3F5;
margin-left:4%;
margin-right:4%;
}

.submitbutton{
    color:white;
     font-size:100%;
     margin-top:1%;
     margin-left:35%;
     margin-right:35%;
     margin-bottom: 1%;
     font-family: Arial;
    text-align: center;
    width:25%;
     /* background: rgba(159, 118, 216, 80); */
     background: #7741C3;
     align-self: center;
}
.error{
    color: red;
    justify-self: center;
}
.success{
    color:green;
    justify-self: center;
}

