.Header{display: flex;
height: 50px;
padding: 0 16px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
align-self: stretch;
 /* background: rgba(159, 118, 216, 0.5);  */
 background: #7741C3;

}

.logo{
display: flex;
width: 153.906px;
height: 28px;
align-items: center;
gap: 8px;
}
.logofont{
color:#7741C3;
font-family: Arial;
font-style: normal;}

.explore{
display: flex;
max-width: 35%;
height: 60%;
padding: 1% 1% 1% 1%;
justify-content: center;
align-items: center;
border-radius: 8px;
margin-left: 1%;
background-color: white;
}
