.container {
  width: 100%;
  height: 100%;
  border-bottom: 2% solid rgba(0, 0, 0, 0.1);
  background: white;
  padding-top: 1%;
  color: #7741c3;
}

.Titleandlogoutcontainer {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  padding-right: 10%;
  color: #7741c3;
}

.logoutbox {
  display: flex;
  padding: 1% 1% 1% 1%;
  margin-left: 68%;
  margin-top: 1%;
  margin-right: 2%;
  gap: 8;
  color: #7741c3;
}

.logout {
  color: #7741c3;
  font-family: Arial;
  font-size: 70%;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 142.857%;
}

.title {
  color: #7741c3;
  font-family: Arial;
  font-size: 150%;
  /* font-style: normal; */
  font-weight: 40%;
  line-height: 150%;
  padding-left: 5%; /* 102.5px; */
  padding-top: 1%;
  padding-bottom: 0.05%;
}
.subtitle {
  margin-left: 1.5%;
  color: #7741c3;
  font-family: Arial;
  font-size: 80%;
  font-style: normal;
  font-weight: 20%;
  line-height: 140%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.eventimagetitle {
  color: #7741c3;
  font-family: Arial;
  font-size: 90%;
  font-style: normal;
  font-weight: 68%;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-left: 2%;
  margin-left: 2%;
}
.eventimagesubtitle {
  color: #717182;
  font-family: Arial;
  font-size: 70%;
  font-style: normal;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  margin-bottom: 2%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  background: #f3f3f5;
  margin-left: 3%;
}
.buttonscontainer {
  display: flex;
  border-radius: 20px;
  background: #7741c3;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  font-size: 80%;
  color: white;
  font-family: Arial;
  font-style: normal;
  font-weight: 40%;
  line-height: 45%;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
}
.Active {
  background-color: white;
  color: #7741c3;
  border-radius: 20;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 25%;
  height: 80%;
}

.arrange {
  display: flex;
  align-items: center;
  font-size: 90%;
  gap: 5;
  justify-self: center;
}

.formcontainer {
  margin-top: 2%;
  padding-top: 0.8%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 0.5%;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}

.create {
  color: #7741c3;
  font-family: Arial;
  font-size: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 2%;
}

.createsubtitle {
  font-family: Arial;
  font-size: 80%;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #7741c3;
  padding-left: 2%;
}

.inputcontainer {
  display: flex;
  width: 96%;
  margin-left: 1%;
}

.inputcontainer2 {
  width: 48%;
  margin-left: 0.5%;
  margin-top: 1%;
}

.inputcontainer3 {
  display: flex;
  width: 96%;
  margin-left: 1%;
  gap: 75%;
  margin-bottom: 2%;
  margin-left: 2%;
}
.dropdowncontainer {
  display: flex;
  width: 47%;
  margin-left: 1%;
}

.button {
  border-radius: 8px;
  background: #7741c3;
  justify-content: center;
  margin: 1%, 1%, 1%, 1%;
  width: 12%;
}

.button2 {
  border-radius: 8px;
  background: #7741c3;
  justify-content: center;
  width: 12%;
  padding: 1%, 1%, 1%, 1%;
  margin-top: 1%;
  margin-left: 1.5%;
  margin-bottom: 3%;
}

.error {
  color: red;
  font-size: 80%;
  justify-self: center;
  margin-top: 1%;
  margin-bottom: 2%;
}
.success {
  margin-top: 2%;
  color: green;
  font-size: 80%;
  justify-self: center;
}

@media (max-width: 768px) {
  .buttonscontainer {
    font: size 70px;
  }
  .arrange {
    font: size 40%;
  }
  .formcontainer {
    font: size 70%;
  }
  .inputcontainer {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .buttonscontainer {
    font-size: 40%;
    width: 80%;
  }
  .arrange {
    font-size: 20%;
    width: 80%;
  }
  .formcontainer {
    font-size: 40%;
    width: 80%;
  }
  .inputcontainer {
    width: 95%;
  }
}

/* font-weight: 40%; */
/* line-height: 45%; */
